<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Notatnik{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
		{% block menu %}<a href="{{ path('formularz') }}">Dodaj notatkę</a> <a href="{{ path('wyswietl') }}">Przeglądaj notatki</a>{% endblock %}
        <div>{% block body %}{% endblock %}</div>
        {% block javascripts %}
		{% endblock %}
    </body>
</html>
