{% extends '::base.html.twig' %}
{% block title %}Symfony 2{% endblock %}
{% block body %}
	<form method="post" action="{{ path('dodano') }}">
		<textarea name="tresc" placeholder="Treść notatki" required="required"></textarea>
		<button type="reset">Wyczyść</button>
		<button type="submit">Dodaj notatkę</button>
	</form>
{% endblock %}