{% extends '::base.html.twig' %}
{% block title %}Przeglądaj{% endblock %}
{% block body %}
	<table class="tablesorter">
		<thead>
			<tr>
				<th>Id</th>
				<th>Treść</th>
				<th>Dota dodania</th>
				<th>Akcja</th>
			</tr>
		</thead>
		<tbody>
			{% if notatki %}
				{% for notatka in notatki %}
					<tr>
						<th scope="row">{{ notatka.id }}</th>
						{% if notatka.wykreslona %} 
							<td style="text-decoration: line-through;">
						{% else %}
							<td>
						{% endif %}
							{{ notatka.tresc }}
						</td>
						{% if notatka.wykreslona %} 
							<td style="text-decoration: line-through;">
						{% else %}
							<td>
						{% endif %}
							{{ notatka.dataDodania|date('Y-m-d') }}
						</td>
						<td>
							{% if not notatka.wykreslona %} 
								<a href="{{ path('wykresl', {'notatkaId' : notatka.id }) }}">Wykreśl notatkę</a>
							{% else %}
								<a href="{{ path('odkresl', {'notatkaId' : notatka.id }) }}">Cofnij wykreślenie</a>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			{% else %}
				<tr>
					<td colspan="4" class="text-center">
						Brak notatek
					</td>
				</tr>
			{% endif %}
		</tbody>
	</table>
{% endblock %}